.card {
  display: flex;
  background-color: rgba(130, 166, 135, 0.5);
  height: 90px;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
}
.card-header {
  width: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.time{
  text-align: right;
}

.card-green-color {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(76, 175, 80,.4);
}
.card-red-color {
  background: linear-gradient(60deg, #ec407a, #d81b60);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(233, 30, 99,.4);
}
.card-orange-color {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(255, 152, 0,.4);
}
.card-blue-color {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(0, 172, 193,.4);
}